<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Ducks</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
	<h1>Learn About Ducks!</h1>
	
	<p>Ducks are fascinating waterfowl belonging to the family Anatidae, known for their distinctive waddling gait, webbed feet, and broad, flat bills. These adaptable birds can be found in various habitats worldwide, from freshwater ponds and lakes to coastal areas and even urban parks. Ducks come in a wide range of species, each with unique characteristics and behaviors. They are generally omnivorous, feeding on aquatic plants, insects, small fish, and crustaceans. Many duck species are migratory, traveling long distances between their breeding and wintering grounds. Their waterproof feathers and specialized bills make them well-suited for life in and around water, allowing them to dive, dabble, or filter feed depending on their species.</p>
	
	<!-- Insert pic of cs50 duck here -->
	<img src="/static/duck_pic.jpg">
	
	<p>Interestingly, the concept of a duck has also found its way into the world of computer science. In the popular CS50 course offered by Harvard University, the "rubber duck" has become a symbol of effective problem-solving. This technique, known as "rubber duck debugging," involves explaining one's code to an inanimate object (often a rubber duck) to help identify and solve programming problems. By verbalizing their thought process to the silent listener, programmers can often discover errors or logical flaws in their code. This creative adaptation of the duck concept demonstrates how a seemingly unrelated idea can be used to aid in the learning and debugging process for aspiring computer scientists.</p>
	
	<!-- Add links -->
	<a href="/chickens">Learn About Chickens</a><br>
	<a href="/pandas">Learn About Pandas</a><br>
	<a href="/">Back To Home</a>
</body>
</html>