<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>panda</title>
</head>
<body>
	<h1>This is info on Pandas</h1>
	<p>Giant pandas (Ailuropoda melanoleuca) are iconic black-and-white bears 
	native to the bamboo forests of central China. Their distinctive coat of fur,
	rotund bodies, and endearing appearance make them instantly recognizable.
	These omnivores primarily feast on bamboo, spending up to 12 hours a day
	munching on this fibrous plant. Despite their lumbering appearance, pandas 
	are skilled climbers, capable of ascending heights of up to 13,000 feet.
	Conservation efforts have led to an increase in their numbers, and they are
	no longer considered endangered. These adorable creatures continue to capture
	our hearts and symbolize the importance of protecting our natural
	world. 🌿🐾</p>
	<img src="static/panda.jpeg" alt="panda photo">
</body>
</html>