<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Pandas</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
	<h1>Learn About Pandas!</h1>
	<!-- Insert pic of panda here -->
	<img src="/static/panda_pic.avif">
	
	<p>Le Le, Singapore's first giant panda cub, captured hearts nationwide since his birth in August 2021 at River Wonders. The adorable cub, born to parents Kai Kai and Jia Jia, quickly became a beloved national icon. As he approached his second birthday, Singapore prepared for Le Le's return to China, a standard practice in panda conservation agreements. The "Bon Voyage, Le Le!" campaign allowed fans to create lasting memories and say goodbye before his departure in January 2024. After a carefully planned journey aboard a Singapore Airlines charter flight, Le Le arrived safely in Chengdu, China. He has since adjusted well to his new home at the Dujiangyan Panda Base, making new panda friends and continuing to charm visitors. While his departure was bittersweet for Singaporeans, it marks an important step in Le Le's role in giant panda conservation efforts.</p>
	
	<!-- Add links -->
	<a href="/chickens">Learn About Chickens</a><br>
	<a href="/ducks">Learn About Ducks</a><br>
	<a href="/">Back To Home</a>
</body>
</html>